:root {
  font-family: "Inconsolata", monospace;
  line-height: 1.5;
  font-weight: 400;
 


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(183, 182, 182);
}

::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 50px;
}

body{
  margin: 0;
  padding: 20px 40px;

}

 a{
  text-decoration: none;
 }

 *{
  box-sizing: border-box;
 }